.portfolio-page {
  height: auto;
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
}

.portfolio-item__title {
  text-decoration: underline;
}

.portfolio-item__links > a {
  padding: 3px;
  position: sticky;
  bottom: 0;
}

.portfolio-item__icon > i {
  margin: 3px;
  padding: 3px;
}

.content-grid {
  flex: auto;
}

.portfolio-page {
  background: #af3d4e;
  color: #fafafa;
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding: 1rem 0;
  font-size: 3rem;
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
