.about-page {
  background: #af3d4e;
  color: #fafafa;
}

.about-page {
  padding-top: 2rem;
  min-height: 350px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.content-grid {
  width: auto;
}
h1 {
  padding: 1rem 0;
  font-size: 3rem;
}

.about-content > p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #fafafa;
  padding-right: 10px;
  padding-left: 10px;
}

p {
  font-weight: 300;
  padding: 0.5rem 0;
}

a,
a:visited {
  color: white;
}
